<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <h1>Works</h1>
    <a href="/about">About</a>
    <a href="/home">Home</a>
    <link rel="stylesheet" href="/style.css" />
    <ul>
        <li>Oops I did again</li>
        <li>Baby one more time</li>
        <li>Womanizer</li>
        <li>Toxic</li>
        <li>Me against the music</li>
    </ul>
</head>

<body>

</body>

</html>